[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
dnspython = "*"
selenium = "*"
beautifulsoup4 = "*"
nltk = "*"
seaborn = "*"
Flask = "*"
Flask-PyMongo = "*"
scikit-learn = "*"
sklearn-crfsuite = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.8"
